<!-- Vertically centered modal -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header centered">
                <h5 class="modal-title big" id="exampleModalLabel">
                    <div class="row"><svg xmlns="http://www.w3.org/2000/svg" class="centered" width="96" height="74"
                            viewBox="0 0 192.756 192.756">
                            <g fill-rule="evenodd" clip-rule="evenodd">
                                <path fill="#fff" fill-opacity="0" d="M0 0h192.756v192.756H0V0z" />
                                <path
                                    d="M42.741 71.477c-9.881 11.604-19.355 25.994-19.45 36.75-.037 4.047 1.255 7.58 4.354 10.256 4.46 3.854 9.374 5.213 14.264 5.221 7.146.01 14.242-2.873 19.798-5.096 9.357-3.742 112.79-48.659 112.79-48.659.998-.5.811-1.123-.438-.812-.504.126-112.603 30.505-112.603 30.505a24.771 24.771 0 0 1-6.524.934c-8.615.051-16.281-4.731-16.219-14.808.024-3.943 1.231-8.698 4.028-14.291z" />
                            </g>
                        </svg>

                    </div> YOUR ACCOUNT FOR
                    <br>EVERYTHING NIKE
                </h5>
                <button type="button" class="btn-close top-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mx-5 my-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
                </div>
                <div class="mx-5 my-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                </div>
                <div class="container mx-5 grey my-3">
                    <div class="row">
                        <div class="col-6">
                            <input class="form-check-input size me-3" type="checkbox" value="">
                            Keep me signed in
                        </div>
                        <div class="col-6">
                            <a class="grey right">Forgot Password?</a>
                        </div>
                    </div>
                </div>
                <div class="container justify grey my-3 centered">
                    <a class="justify centered grey"> By Logging in, you agree to Nike's Privacy Policy
                        and <br>Terms of Use.
                    </a>
                </div>

                <div class="container justify  grey my-3 centered">
                    <button type="button" class="btn btn-modal" data-bs-dismiss="modal">SIGN IN</button>
                </div>

                <div class="container justify grey my-3 centered">
                    <a class="justify centered grey">Not a member? Join Us.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>