<div class="card-deck">
  <div class="card">
    <img src="assets/Images/zha-dadson.jpg" class="card-img" alt="...">
    <div class="card-img-overlay text-white">
      <p class="card-text btm-left-above-btn ">Women's Training
        <br>
         Essentials</p>
      <p class="card-text btm-left">
        <button type="button" class="btn btn-secondary btn-sm btn-text">Shop</button>
      </p>
     
    </div>
    
   
  </div>
  <div class="card">
    <img src="assets/Images/derek-garlington.jpg" class="card-img" alt="...">
    <div class="card-img-overlay text-white">
      <p class="card-text btm-left-above-btn">Men's Training
        <br>
         Essentials</p>
      <p class="card-text btm-left">
        <button type="button" class="btn btn-secondary btn-sm btn-text">Shop</button>
      </p>
    </div>
    
   
  </div>
  </div>