<div class="card">
    <img src="{{img}}"class="card-img" alt="...">
    <div class="card-img-overlay text-white">
    <div class="row">
        <div class="col-3">
      <p class="card-text btm-left-above-btn black {{textTheme}}">
         {{descTop}}
     </p>
     <h4 class="card-text btm-left-above-btn big-bold">
        {{descTopS}}
        <br>
        {{descMidS}}
        <br>
        {{descBotS}}
    </h4>
     <p class="card-text btm-left-above-btn-small {{textTheme}} small">
        {{descBottom}}
     </p>
     
      <p class="card-text btm-left">
        <button type="button" class="btn btn-secondary btn-sm btn-text {{theme}}-button">Shop</button>
      </p>
    </div>
    <div class="col-9">
    </div>
    </div>
</div>
   
 
