<div class="card">
    <img class="img" src="assets/Images/nike-member-banner.png">
    <div class="card-img-overlay position">
        <p class="card-text position black">Things are better as a Nike Member. Get first and exclusive access to the
            newest styles & innovation, free shipping, birtday rewards and more.
        </p>
        <p class="card-text btm-left position-btn">
            <button type="button" class="btn btn-secondary btn-sm btn-text">Join Us</button>
            <button type="button" class="btn btn-secondary btn-sm btn-text mx-2">Sign In</button>

          </p>
    </div>
</div>