<nav class="navbar navbar-expand navbar-light bg-white">
    <div class="container-fluid my-0 height-50 mx-2">

        <div class="row container-fluid">
            <div class="col-4 ">
                <h2>Men</h2>
            </div>
            <div class="col-4 center">
                <div class="row center">
                    <div class="col-3 center">Shoes</div>
                    <div class="col-3 center">Clothing</div>
                    <div class="col-3 center">Accessories</div>
                    <div class="col-3 center">Sale</div>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</nav>

<div class="mx-5">
    <n-full-card img="assets/Images/nike-men1.jpg" descMidS="FLEECE COLORS" descBotS="FOR YOU"
        descBottom="Bold styles, bold moves-express yourself in all the colors of Nike Fleece" class="margin">Loading
    </n-full-card>
    <h1 class="margin-top">
        Shop the Essentials
    </h1>
    <div class="row">
        <div class="col-6 mb-2">
            <n-full-card img="assets/Images/nike-men-2.jpg" theme="black" descTop="Clothing"></n-full-card>
        </div>
        <div class="col-6">
            <div class="row mb-3">
                <n-full-card img="assets/Images/nike-men-3.jpg" theme="black" descTop="Shoes"></n-full-card>
            </div>
            <div class="row">
                <n-full-card img="assets/Images/nike-men-4.jpg" theme="black" descTop="Acessories"></n-full-card>
            </div>
        </div>
    </div>

</div>
<n-scroll-cards>Loading</n-scroll-cards>
<n-sign-up-modal></n-sign-up-modal>
<n-mens-upper-footer></n-mens-upper-footer>