<nav class="navbar navbar-light bg-light">
    <div class="container-fluid center retain">
        <div id="carouselExampleInterval" class="carousel slide center" data-bs-ride="carousel">
            <div class="carousel-inner center">
              <div class="carousel-item active m-auto" data-bs-interval="4000">
               <p class="center text-link move-right">FREE SHIPPING + RETURNS, FREE MEMBERSHIP, EXCLUSIVE PRODUCTS
               </p> 
               <a class="text-link-sub position">
                   Join Now
               </a>
              </div>
              <div class="carousel-item m-auto" data-bs-interval="4000">
                <p class="center text-link">SAVE UP TO 40%
                </p>
                <a class="text-link-sub">
                   Shop All Our New Markdowns
                </a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon fit" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon fit" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
  </nav>